@media screen and (max-width: 880px) {

  .nav_position {
    width: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  nav,
  .nav,
  .nav_footer {
    display: flex;
  }

  .home {
    width: 100%;
  }

  .mcontainer,
  .rcontainer,
  .acontainer,
  .acontact_body {
    width: 100vw !important;
    margin-left: 0;
    margin-top: 60px;
  }

  .section {
    padding-bottom: 72px;
  }

  .contact_container_new {
    margin: 65px auto 100px auto;
  }

}

@media screen and (max-width: 612px) {

  .home {
    width: auto;
  }

  .front_content {
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .dev_img {
    display: none !important;
  }

  .third_img {
    display: flex !important;
    width: 280px;
    height: 280px;
    margin: 20px auto;
  }

  .content_overlay {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .typed_js {
    width: 100% !important;
    height: 100% !important;
    max-width: 100% !important;
    padding: 20px !important;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .text_block {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .text_block h1 {
    font-size: 5vh;
    line-height: 1.2;
    text-align: center;
    margin: 0;
    width: 100%;
  }

  .text_block h1 .name {
    display: block;
    margin-top: 2vh;
    font-size: 8vh;
    line-height: 1.1;
    width: 100%;
  }

  .sub_text {
    font-size: 3.5vh;
    margin: 0;
    text-align: center;
    width: 100%;
  }

  .typing_text {
    font-size: 6vh;
    min-height: 6vh;
    text-align: center;
    margin-top: 1vh;
    width: 100%;
    color: var(--brown);
  }

  .r1l_cont {
    flex-direction: column;
  }

  .span1,
  .span2,
  .con_section,
  .con_photo {
    width: 100%;
    padding: 0;
  }

  .box {
    width: 50vw;
  }

  .third_content {
    flex-direction: column;
    text-align: center;
    padding: 30px;
    width: 95%;
    margin: 40px auto;
  }

  .third_text {
    text-align: center;
    align-items: center;
  }

  .third_text>div:first-child {
    font-size: 2rem;
    text-align: center;
  }

  .third_text .p {
    text-align: center;
  }

  .about_heading {
    font-size: 2.5rem !important;
    margin-bottom: 30px;
  }

  .glass_card {
    padding: 25px;
  }

  .bio_title {
    font-size: 1.5rem;
    text-align: center;
  }

  .bio_text {
    text-align: justify;
  }

  .skills_grid {
    flex-direction: column;
  }

  .skill_card {
    min-width: 0;
    width: 100%;
  }

  .resume_content_grid {
    flex-direction: column;
    gap: 30px;
  }

  .resume_column {
    min-width: 0;
    width: 100%;
  }

  .resume_card .resume_item {
    padding: 20px;
  }

  .institution,
  .role {
    font-size: 1.2rem;
  }

  .download_btn {
    width: 100%;
    justify-content: center;
  }

  .contact_grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .contact_subtext {
    font-size: 1rem;
    margin-bottom: 30px;
  }

  .project_grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .media_wrapper video,
  .media_wrapper img {
    width: 100% !important;
    object-fit: contain;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .contact_split_layout {
    flex-direction: column-reverse;
    flex-direction: column;
    gap: 40px;
  }

  .contact_right_col {
    width: 100%;
  }

  .contact_image_frame {
    height: 400px;
    max-width: 100%;
  }
}

@media screen and (min-width: 881px) {

  .profile_container {
    width: 75vw;
  }

  .nav_position {
    top: 0;
    left: 0;
    width: 25%;
    height: 65px;
    background: #000;
  }

  .footer_position {
    top: 65px;
    left: 0;
    width: 25%;
    height: calc(100vh - 65px);
  }

  nav {
    width: 13vw;
    height: calc(100vh - 65px);
  }

  nav ul {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  nav ul li .a {
    display: block;
  }

  nav ul li .a .text {
    top: 5%;
    left: 93%;
    font-size: 1.3em;
  }

  .indicator {
    top: 0;
    left: 10px;
    width: 3px;
    height: 50px;
    background: #fff;
    transition: 0.5s;
  }

  nav ul li:nth-child(1).active~.indicator {
    transform: translateY(calc(62px * 0));
  }

  nav ul li:nth-child(2).active~.indicator {
    transform: translateY(calc(70px * 1));
  }

  nav ul li:nth-child(3).active~.indicator {
    transform: translateY(calc(70px * 2));
  }

  nav ul li:nth-child(4).active~.indicator {
    transform: translateY(calc(70px * 3));
  }

  nav ul li:nth-child(5).active~.indicator {
    transform: translateY(calc(70px * 4));
  }

  .mcontainer,
  .rcontainer,
  .acontainer,
  .about_container,
  .resume_container_new,
  .contact_container_new,
  .project_container_new,
  .acontact_body {
    width: 75vw !important;
    padding-top: 20px;
  }

  .front_content {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1035px) {
  .footer_content {
    flex-direction: column;
    padding: 30px;
  }
  
  .send_btn {
    width: 100%;
    height: 60px;
    flex-direction: row;
    border-width: 1px;
    border: none;
  }

  /* .send_btn div {
    margin: 0 5px;
  } */
}
@media (max-width: 900px) {
  .footer_content {
    flex-direction: column;
    padding: 30px;
  }

  .send_btn {
    width: 100%;
    height: 60px;
    flex-direction: row;
    border-width: 1px;
    border: none;
  }

  .send_btn div {
    margin: 0 5px;
  }

  .form_container {
    flex-direction: column;
  }

  .send_box {
    width: 100%;
  }
}